{% set assetHash = global.random() %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% include "partials/meta-info.njk" %}
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" />
 <link rel="stylesheet" href="/assets/main.bundle.css">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  </head>
  <body class="{% if eleventyNavigation.key %}{{ eleventyNavigation.key }}{% endif %} bg-gradient-to-br from-slate-100 via-slate-200 to-blue-400 bg-fixed min-h-screen pb-20 font-serif leading-normal tracking-normal overflow-x-hidden w-full ">
  <a class="sr-only focus:not-sr-only" href="#main"> Skip to main</a>
            <main class="font-sans text-gray-700">
              {% include "partials/navigation.njk" %}
        <section id="main" class="mx-auto container">
         {% include "partials/page-header.njk" %} 
        {% block content %}
        {% endblock %}
      </section
      </main>
<!--FitVid-->
<script src="/assets/main.bundle.js" defer></script>
<script>
function myFunction() {
  // Declare variables
  var input, filter, txtValue, article, section, a, i, h2;
  input = document.getElementById('myInput');
  filter = input.value.toUpperCase();
  section = document.getElementById("postlist");
  article = section.getElementsByTagName('article');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < article.length; i++) {
    a = article[i].getElementsByTagName('a')[0];
    p = article[i].getElementsByTagName ('p')[0];
    txtValue = p.textContent || p.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      article[i].style.display = "";
    } else {
      article[i].style.display = "none";
    }
  }
}
</script>
<!--Laxy Load-->
 <script type="module">
      import Lazyload from "https://cdn.skypack.dev/vanilla-lazyload";
      const lazyload = new Lazyload();
    </script>
  </body>
</html>