{% extends "layouts/base.njk" %}
 {% set pageHeaderTitle = title %}
 {% set pageHeaderImage = imageURL %}
 {% set pageHeaderSummary = summary %}
{% block content %}
         {% for item in collections.bridge %}
        <article class="w-full prose lg:prose-xl mx-auto pt-10 pb-10 border-b-4 border-gray-200 ">
	       <h2 class="w-full">{{ item.data.title }}</h2>
           <p  class="text-gray-800 font-serif text-base mb-5"> <b>Location: </b>{{ item.data.location }}</p>
            {{ item.templateContent | safe }}
         </article>
        {% endfor %}
{% endblock %}
