{% extends "layouts/base.njk" %}
{% set pageHeaderTitle = title %}
{% set pageHeaderSummary = summary %}
{% set pageHeaderImage = imageURL %}
{# If this is a tag, grab those items instead as one large collection #}
{% block content %}
   {{ content | safe }}
    {% include "partials/search.njk" %}
   <section id="postlist" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mt-10">
    {% include "partials/alphabeticwordsigns.njk" %}
    {% include "partials/strongwordsigns.njk" %}
    {% include "partials/strongcontractions.njk" %}
    {% include "partials/stronggroupsigns.njk" %}
    {% include "partials/initiallettercontractions.njk" %}
    {% include "partials/finallettergroupsigns.njk" %}
    </section>
{% endblock %}
