{% extends "layouts/base.njk" %}
 {% set pageHeaderTitle = title %}
 {% set pageHeaderImage = imageURL %}
 {% set pageHeaderSummary = summary %}
{% block content %}
<div id="toc"></div>
    <article class="w-full lg:prose-xl">
          {{ content | safe }}
        </article>
         {% for item in collections.grammar %}
        <article class="w-full prose lg:prose-xl">
	       <h2 class="w-full">{{ item.data.title }}</h2>
           {{ item.templateContent | safe }}
         </article>
        {% endfor %}
{% endblock %}