{% extends "layouts/base.njk" %}
{% set pageHeaderTitle = title %}
{% set pageDescription = description %}
{# Render post date and any tags that this post has been filed under #}
{% set pageHeaderSummary %}
  {% if tags %}
    <span class="sr-only" id="tags-desc">categorized as</span>
      {% for tag in tags %}
          <a class="inline-block m-1 bg-yellow-50 font-bold text-lg text-yellow-700 p-1 hover:bg-blue-700 hover:text-gray-50" href="/tag/{{ tag | slug }}/">{{ tag | replace(' ', ' ') | capitalize }}</a>
      {% endfor %}
  {% endif %}
{% endset %}
{% block content %}
    <article class="prose lg:prose-xl">
    {% include "partials/toc.njk" %}
      {{ content | safe }}
      </article>
{% endblock %}