{% extends "layouts/base.njk" %}
{% set pageHeaderTitle = 'Contractions filed under: ' + tag  %}
{% block content %}
{{ content | safe }}
   <section id="postlist" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mt-10">
{% set postlist = collections[tag] %}
        {% for item in postlist | reverse %}
        <article class="justify-center">
				  <a href="{{ item.url }}">
        	<div class="bg-blue-50 rounded-m overflow-hidden shadow-md hover:shadow-2xl border-4 border-transparent hover:border-yellow-500 pb-5">
            <div class="px-4 py-4">
            <h2 class="text-2xl"><b>Contraction</b> <b class="braille">{{ item.data.title }}</b></h2>
            <p class="text-lg"><b>Meaning</b> {{ item.data.description }}</p>
          <p class="text-lg"><b>category</b>
      {% for tag in item.data.tags %}
         {{ tag | replace(' ', ' ') | capitalize }}
      {% endfor %}
      </p>
         </div>
       </div>
             </a>
      </article>
        {% endfor %}
      </section>
{% endblock %}