body {
  background-image: url("/images/bg/ep_naturalwhite.png");
  background-repeat: repeat;
  background-attachment: fixed;
  font-family: 'Spectral';
  font-weight: 400;
  min-height: 100%;
  counter-reset: footnotes;
}
[role="doc-noteref"]::after {
  counter-increment: footnotes;
  content: '[' counter(footnotes) ']';
  margin-left: 5px;
}
h1:first-child {
  font-family: 'Cinzel Decorative', cursive;
}
.prose h1, .prose h2 {
  font-family: 'Fondamento', cursive;
   color: #EF4444;
}
.prose {
  font-weight: 400;
}
.prose ul {
  list-style: none; /* Remove default bullets */
}
.prose ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #EF4444; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 0px; /* Also needed for space (tweak if needed) */
  margin-top: -.7em;
}
/* Glyph, by Harry Roberts */

hr {
  overflow: visible; /* For IE */
  padding: 0;
  border: 0px;
  height: 2px;
  border-top: 2px solid #FBBF24;
  color: #FBBF24;
  text-align: center;
}
hr:after {
  content: "§";
  font-size: 24px;
  display: inline-block;
  position: relative;
  top: -0.9em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: inherit;
}
