@font-face {
  font-family: "simbraille";
  src: url("src/css/SIMBRL.TTF") format("ttf");
  }
body {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 18px;
  counter-reset: footnotes;
}  
[role="doc-noteref"]::after {
  counter-increment: footnotes;
  content: '[' counter(footnotes) ']';
  margin-left: 5px;
}
.braille {
  font-family: 'simbraille';
  font-size: 26px;
  color: black;
}
p a {
  color: #1F2937;
  text-decoration: underline;
  font-weight: 500;
  background-color: #FFFBEB;
  border-radius: 3px;
  padding: 1px;
}
p a:hover {
  background-color: #FBBF24;
  color: black;
}
#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

h1:first-child {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  text-align: center;
}
.prose h1, .prose h2 {
  font-family: 'Atkinson Hyperlegible', sans-serif;
}
.prose a:hover {
  background: #fca5a5;
  border: 2px solid #64748b; 
}
/* Glyph, by Harry Roberts */

hr {
  overflow: visible; /* For IE */
  padding: 0;
  border: 0px;
  height: 2px;
  border-top: 2px solid #FBBF24;
  color: #FBBF24;
  text-align: center;
}
hr:after {
  content: "§";
  font-size: 24px;
  display: inline-block;
  position: relative;
  top: -0.9em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: inherit;
}
