body {
  background: url("https://images.unsplash.com/photo-1602968407815-5963b28c66af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80");
  background-attachment: fixed;
  background-size: cover;
  padding:5% 0%;
  min-height: 100%;
}
#header div {
   background: url("/images/bg/moroccan-flower-dark.png");
}