     <section id="postlist" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mt-10">
        {% for item in postListItems %}
        <article class="flex justify-center">
				  <a  id="{{ item.data.title }}" href="{{ item.url }}">
        	<div class="bg-yellow-50 rounded-m overflow-hidden shadow-md hover:shadow-2xl border-4 border-transparent hover:border-yellow-500 pb-5">
            <div class="px-4 py-4">
            <h2 class="text-2xl"><b>Contraction</b> <b class="braille">{{ item.data.title }}</b></h2>
            <p class="text-lg"><b>Meaning</b> {{ item.data.description }}</p>
          <p class="text-lg"><b>category</b>
      {% for tag in item.data.tags %}
         {{ tag | replace(' ', ' ') | capitalize }}
      {% endfor %}
      </p>
         </div>
       </div>
             </a>
      </article>
        {% endfor %}
     </section>
<script>
function myFunction() {
  // Declare variables
  var input, filter, txtValue, article, section, a, i, h2;
  input = document.getElementById('myInput');
  filter = input.value.toUpperCase();
  section = document.getElementById("postlist");
  article = section.getElementsByTagName('article');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < article.length; i++) {
    a = article[i].getElementsByTagName('a')[0];
    h2 = article[i].getElementsByTagName ('h2')[0];
    p = article[i].getElementsByTagName ('p')[0];
    txtValue = h2.textContent || h2.innerText || p.textContent || p.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      article[i].style.display = "";
    } else {
      article[i].style.display = "none";
    }
  }
}
</script>
